<div class="row py-3 py-lg-0 flex-wrap gx-4 gy-6">
    <!-- menu row-->
    <div class="col">
        <h6 class="dropdown-heading">Bandai</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Sailor Moon</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Dragon Ball</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Caballeros del Zodiaco</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Gundam</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Naruto</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Demon Slayer</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Frieren</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">One Piece</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">Ver Todo</a></li>
        </ul>
    </div>
    <!-- / menu row-->

    <!-- menu row-->
    <div class="col">
        <h6 class="dropdown-heading">Marcas</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">SH.Figuarts</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Nenderoid</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Good Smile</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Mafex</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Figma</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Banpresto</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Model kits</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Accesorios</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">Ver Todo</a></li>
        </ul>
    </div>
    <!-- / menu row-->

    <!-- menu row-->
    <div class="d-none d-xxl-block col">
        <h6 class="dropdown-heading">Coleccionables</h6>
        <ul class="list-unstyled">
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Figuras</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Peluches</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Llaveros</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Acrílicos</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Armables</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Estatuillas</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Posters</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item" href="{{webRoot}}/category.html">Tarjetas</a></li>
            <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="{{webRoot}}/category.html">Ver Todo</a></li>
        </ul>
    </div>
    <!-- / menu row-->  
    
    <!-- menu row-->
   
    <!-- / menu row-->      
</div>

<div class="align-items-center justify-content-between mt-5 d-none d-lg-flex">
    {{#each (limit slideshow-brands.entries 6)}}
    <div class="me-5 f-w-20">
        <a class="d-block" href="{{webRoot}}/category.html">
            <picture>
                <img class="img-fluid d-table mx-auto" src="{{ img }}" alt="{{ config.defaultImgAlt }}">
            </picture>
        </a>
    </div>
    {{/each}}
</div>