<ul class="list-group mb-5 d-none d-lg-block rounded-0">
    {{#if show-contact}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Contacto</span>
            <span class="small">cc915609@gmail.com</span>
        </div>
        <a href="{{webRoot}}/checkout.html" class="text-muted small" role="button">Cambiar</a>
    </li>
    {{/if}}
    {{#if show-delivery}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Enviar a</span>
            <span class="small">20196, Hacienda el Saucillo #150, Aguascalientes,Aguascalientes </span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">Cambiar</a>
    </li>
    {{/if}}
    {{#if show-method}}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-start align-items-center">
            <span class="text-muted small me-2 f-w-36 fw-bolder">Metodo</span>
            <span class="small">Correos de México</span>
        </div>
        <a href="{{webRoot}}/checkout-shipping.html" class="text-muted small" role="button">Cambiar</a>
    </li>
    {{/if}}
</ul>