<div class="pb-3">
    <!-- Cart Item-->
    {{>
        cart/cart-item 
        img="{{webRoot}}/assets/images/products/product-cart-1.jpg"
        border="true"
        showQty="true"
        name="S.H.FIGUARTS: Dragon Ball Super Super Hero - Son Goku - Super Hero Ver. (Reissue) [Bandai]"
        qty="1"
        options=""
        price="$800"
    }}
    <!-- / Cart Item-->
    <!-- Cart Item-->
    {{>
        cart/cart-item 
        img="{{webRoot}}/assets/images/products/product-cart-2.jpg"
        border="true"
        showQty="true"
        name="Puchirama Series DX: Dragon Ball - Dracap RE BIRTH 01 (Limited + Reissue) [MegaHouse]"
        qty="1"
        options=""
        price="$1500"
    }}
    <!-- / Cart Item-->
</div>
<div class="py-4 border-bottom">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <p class="m-0 fw-bolder fs-6">Total</p>
        <p class="m-0 fs-6 fw-bolder">$2300</p>
    </div>
    <div class="d-flex justify-content-between align-items-center ">
        <p class="m-0 fw-bolder fs-6">Envío</p>
        <p class="m-0 fs-6 fw-bolder">$300</p>
    </div>
</div>
<div class="py-4 border-bottom">
    <div class="d-flex justify-content-between">
        <div>
            <p class="m-0 fw-bold fs-5">Total</p>
            <span class="text-muted small">$2600</span>
        </div>
        <p class="m-0 fs-5 fw-bold">$2600</p>
    </div>
</div>
<div class="py-4">
    <div class="input-group mb-0">
        <input type="text" class="form-control" placeholder="Cupón de descuento">
        <button class="btn btn-dark btn-sm px-4">Aplicar</button>
    </div>
</div>
{{#if show-action-buttons}}
<!-- Accept Terms Checkbox-->
<div class="form-group form-check my-4">
    <input type="checkbox" class="form-check-input" id="accept-terms" checked>
    <label class="form-check-label fw-bolder" for="accept-terms">De acuerdo con KIWIITOYS <a href="#">Términos y condiciones</a></label>
</div>
<a href="{{webRoot}}/order-success.html" class="btn btn-dark w-100" role="button">Completar la compra</a>
{{/if}}
