<!-- Checkout Information Summary -->
{{> checkout/checkout-information-summary show-contact="true" }}
<!-- / Checkout Information Summary-->

<!-- Checkout Panel Information-->
<h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Método de envío</h3>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodOne" checked>
  <label class="form-check-label" for="checkoutShippingMethodOne">
    <span class="d-flex justify-content-between align-items-start">
      <img width="50px" height="45px" src="https://upload.wikimedia.org/wikipedia/en/f/f0/Correos_de_M%C3%A9xico_logo.png" alt="">
      <span>
        <span class="mb-0 fw-bolder d-block">Correos de México</span>
        <small class="fw-bolder">El envío puede tardar más</small>
      </span>
      <span class="small fw-bolder text-uppercase">$129.00</span>
    </span>
  </label>
</div>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodTwo">
  <label class="form-check-label" for="checkoutShippingMethodTwo">
    <span class="d-flex justify-content-between align-items-start">
      <img width="20%" height="70%" src="https://cdn.icon-icons.com/icons2/2699/PNG/512/fedex_logo_icon_171161.png" alt="">
      <span>
        <span class="mb-0 fw-bolder d-block">FedEx</span>
        <small class="fw-bolder">Entrega de entre 2 a 5 días hábiles</small>
      </span>
      <span class="small fw-bolder text-uppercase">$179.00</span>
    </span>
  </label>
</div>

<!-- Shipping Option-->
<div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
  <input class="form-check-input" type="radio" name="checkoutShippingMethod" id="checkoutShippingMethodThree">
  <label class="form-check-label" for="checkoutShippingMethodThree">
    <span class="d-flex justify-content-between align-items-start">
      <img width="55px" height="45px" src="https://cdn.iconscout.com/icon/free/png-256/free-dhl-express-3442895-2875356.png" alt="">
      <span>
        <span class="mb-0 fw-bolder d-block">DHL</span>
        <small class="fw-bolder">Entrega de 24 a 36 horas</small>
      </span>
      <span class="small fw-bolder text-uppercase">$199.99</span>
    </span>
  </label>
</div>

<div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
  <a href="{{webRoot}}/checkout.html" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Volver</a>
  <a href="{{webRoot}}/checkout-payment.html" class="btn btn-dark w-100 w-md-auto" role="button">Proceder a pagar</a>
</div>
