<div class="row g-3" data-aos="fade-right">
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-14.jpg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-10.jpg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-11.jpg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
    <div class="col-12">
        <picture>
            <img class="img-fluid" data-zoomable src="{{webRoot}}/assets/images/products/product-12.jpg" alt="{{ config.defaultImgAlt }}">
        </picture>
    </div>
</div>
